

#html1{
    background-image: url("img/fondAccueil.jpg");
    background-size: cover;
}

#html2{
    background-image: url("img/fond2.jpg");
    background-size: cover;
}

#html3{
    background-image: url("img/fond1.jpg");
    background-size: cover;
}


h2{
    color : goldenrod;
    font-size: 5em;
    
}

.Titre{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;   
}

.contenu{
    width: 60%;
}

#contenu{
    font-family: 'Marck Script', cursive;
    font-size: 1.5em;
    background-image: linear-gradient(black,white);
    border: solid 2px darkgrey;
    width: 1000px;
}
h1{
    color : rgb(221, 153, 7);
}

#pageAccueil{
    flex:1 1 auto;
    
}
.Menu{
    border-style: solid;
    border-width: 0.2em;
    border-color: blueviolet;
    background-color: goldenrod;
    width: 300px;
    height: max-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.MenuFix{
    border-style: solid;
    border-width: 0.2em;
    border-color: blueviolet;
    background-color: goldenrod;
    width: 300px;
    height: max-content;
    position: fixed;
}


#img1{
    border-style: groove;
    border-color: blue;
}

#img2{
    border-style: groove;
    border-color: gold;
}

#wrap1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

#wrap2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center 
}

.mod10{
    color: red;
}

table{
    border: 2px black solid;
}

tr{
    border: 1px black solid;
}

td{
    border: 1px black solid;
}

.td1{
    border: 2px black solid;
}

.erreur{
    background: red;
}

#input{
    width:30%;
    height:30%;
}

#banniere{
    /*couleurs et dimensions de la fenêtre*/
    border: 1px inset #000;
    background: #444;
    color: #ddd;
    width: 200px;
    height: 2em;
    /* masquer ce qui dépasse */
    overflow: hidden;
}

#banniere p{
    /* centrer le texte */
    margin: 0.5em 0 0 0;
    /* tout afficher sur une seule ligne */
    white-space: nowrap;
}

#carre{
    height: 100px;
    width: 200px;
    background-image: url("images/cles.png");
    background-size: cover
} 

#map{
    height: 900px;
    width: 75%;
}

#adresse{
    width: 20%;
    height: fit-content;
    background-color: lightgrey;
    border: grey 3px groove;
}

#entree{
    margin: 10px;
}

#wrapmap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


@media(max-width: 1650px){
    #wrap1{
        flex-flow: column wrap;
        align-items: center;
    }
    .Menu{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
    }
}